/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --blueberry: #1F4373; 
    --veg:#96A61F;
    --grain:#BF9004;
    --toast:#73532D;
    --cranberry: #A64037; 
    --white: #fff;
    --black: #111; 
    --heading_font: 800; 
    --body_font: 500; 
}

/*----------Generic Styles---------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-weight: var(--body_font);
    font-size: 1.75em;
    line-height: 1.6em;
    background-color: var(--white);
    min-width: 320px;
    max-width: 1800px;
}

h1, h2, h3 {
    font-weight: var(--heading_font);
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 2.5em;
    line-height: 1.2em;
    margin: .3em 0;
}

h3 {
    font-size: 1em;
    line-height: 1.2em;
}

a {
    text-decoration: none;
    color: var(--white);
}

p {
    margin: 1em 0;
    font-size: .75em;
}

.skip {
    position: absolute;
    left: -999px;
    height: 0;
    width: 0;
}

.skip:focus {
    display: block;
    top: .5em;
    left: 1em;
    height: 1.5em;
    width: 70%;
    font-size: .8em;
    border: 2px solid var(--blueberry);
    color: var(--blueberry);
}


/*----------Button Styles---------- */
.button, input[type="submit"] {
    width: 80%;
    padding: 15px;
    background-color: var(--veg);
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    margin: .5em auto;
    border: 4px outset var(--toast);
}

.button {
    display: block;
}

.clipBtn {
    border: 3px solid #000;
    background-color: var(--veg);
    border-radius: 1em;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    padding: .75em;
    color: var(--white);
    width: 6em;
    /* height: 1.5em; */
    margin: .5em 0;
}

.clipBtn svg {
    margin-right: .5em;
    height: 1.5em;
    width: 1.5em;
}

/*----------Hover Styles---------- */
nav li a:hover {
    border-bottom: 5px solid var(--grain);
    padding: .25em;
}

nav li a:active {
    background-color: var(--blueberry);
    color: var(--white);
}

.button:hover, input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--grain);
}

.icon-tabler-shopping-cart:hover, .icon-tabler-menu-2:hover, footer svg:hover{
    stroke: var(--grain);
}

footer svg:hover {
    border-color: var(--grain);
}

.clipBtn:hover, .clipBtn:active {
    background-color: var(--blueberry);
    cursor: pointer;
}

#shop a:hover img {
    border-color: var(--grain);
}

#shop a:hover h3 {
    text-decoration: underline;
}

/*----------Header Styles---------- */
header {
    display: grid;
    grid-template-columns: 1fr .5fr .5fr;
    padding: .5em 0;
    align-items: center;
    margin: 1.5em 0;
}

h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}

nav {
    grid-column: 3/4;
    grid-row: 1/2;
}

.menu li a {
    padding: 1em;
    margin: 1em;
}

nav h2 {
    visibility: hidden;
    height: 0;
    position: absolute;
    left: -300px;
}

#shoppingCart {
    grid-row: 1/2;
    grid-column: 2/3;
    /* justify-self: center; */
}

.icon-tabler-shopping-cart {
    stroke: #000;
    width: 100%;
}

.icon-tabler-menu-2{
    stroke: #000;
    width: 100%;
}

/* Make hamburger menu work */
.menuBtnContainer {
    grid-row: 1/2;
    grid-column: 2/3;
    height: 100%;
    width: 40px;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 4em;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--blueberry);
    z-index: 10;
}

.menu li {
    text-align: center;
}

#menuToggle {
    visibility: hidden;
    height: 0;
    position: absolute;
    left: -3050px;
}

#menuToggle ~ .menu li{
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;

}

#menuToggle:checked ~ .menu li {
    visibility: visible;
    border-bottom: 3px solid var(--white) ;
    height: 2em;
    padding: .5em;
}


/*----------Section Styles---------- */
section {
    margin: 1em 0;
    padding: 0;
}

#shop, #coupons, #club {
    padding: .5em;
}

#shop, #club {
    background-color: var(--white);
}
#intro, #coupons {
    background-color: var(--cranberry);
    color: var(--white);
}

/*----------Intro Styles---------- */
#intro{
    background-image: url("images/hero.png"); 
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

#intro h2 {
    font-size: 1.5em;
}

#AdInfo {
    position: relative;
    top: 0;
    background-color: rgba(166, 64, 55, .7);
    padding: 1em;
}

/*----------Shop Categories Styles---------- */
#shop h2 {
    text-align: center;
}

#categories {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

#shop section a {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    color: var(--black);
}

#categories  a h3{
    text-align: center;
    color: var(--black);
    padding-top: .5em;
}

#categories img {
    border: 8px solid var(--toast);
    border-radius: 50%;
    width: 90%;
    margin: 0;
    padding: 0;
}

#meat {
    grid-column: 1/2;
    grid-row: 1/2;
}

#seafood {
    grid-column: 2/3;
    grid-row: 1/2;
}

#dairy {
    grid-column: 1/2;
    grid-row: 2/3;
}

#produce {
    grid-column: 2/3;
    grid-row: 2/3;
}

#bakery {
    grid-column: 1/2;
    grid-row: 3/4;
}

#beverages {
    grid-column: 2/3;
    grid-row: 3/4;
}


/*----------Coupons Styles---------- */

#coupons section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: .75em;s */
    justify-content: center;
    width: 100%;
}

#coupons h3 {
    grid-row: 2/3;
    grid-column: 1/2;
}

#coupons img {
    width: 60%;
    margin: .5em auto;
    display: block;
}

#coupons span {
    font-weight: bold;
}

#coupons div{
    grid-row: 1/2;
    grid-column: 1/3;
    border: .25em dashed #000;
    background-color: #fff;
    margin: .5em auto;
}

#coupons div h4 {
    font-size: 1.5em;
    position: relative;
    top: 25px;
    left: 10px;
    z-index: 30;
    font-weight: bold;
    color: var(--blueberry);
}

#coupons .expiration {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: right;
    font-weight: bold;
    font-size: .75em;
}

#coupons section p {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-bottom: 1.5em;
}

.clipBtn {
    grid-column: 1/2;
    grid-row: 4/5;
}


/*----------Club Styles---------- */
#club h2 {
    text-align: center;
}

#club form {
    width: 90%;
    margin: 0 auto;
}

#club  input{
    display: block;
    width: 95%;
    padding: 10px;
    margin: .5em 0 2em 0;
    height: 2.5em;
    border: .25em outset var(--toast)
}

#club input[type="submit"] {
    font-family: 'Public Sans', sans-serif;
    width: 100%;
    margin: 1em auto;
    border: 4px outset var(--toast);
}

.required {
    color: var(--cranberry);
}

/*----------Footer Styles---------- */
footer {
    padding: .5em 2em;
    background-color: rgba(31, 67, 115, .7);
} 

footer h2 {
    font-size: 1.5em;
}

address {
    padding-top: 2em;
}

footer address + a {
    display: block;
    padding-bottom: 2em;
    color: var(--black);
}

footer address + a:hover {
    color: var(--white);
}

footer small{
    display: block;
}

footer section:last-of-type h2 {
    visibility: hidden;
    height: 0;
}


footer ul li{
    display: inline;
    padding: .45em;
}

footer svg {
    stroke: var(--black);
    border: 2px solid var(--black);
    border-radius: 100%;
    background-color: #fff;
    width: 6%;
    height: auto;
    padding: .5em;
}


/*----------Media Queries---------- */

@media  screen and (min-width:780px) {
    .skip:focus {
        width: 25%;
        font-size: 1em;
        padding: .5em;
    }

    /* General */
    header {
        margin: 2em;
        grid-template-columns: 2fr .4fr .3fr;
    }
    h1 {
        text-align: left;
    }
    h2 {
        text-align: center;
    }
    p {
        font-size: 1em;
    }
    body {
        font-size: 1.2em;
    }

    #shop, #coupons, #club {
        margin: 0 auto;
        padding: 2em 5em;
    }

    .button{
        width: 40%;
        margin: 2em auto;
    }


    /* Nav */
    .menu {
        top: 4em;
    }

    /* Intro */
    #intro {
        padding: 3em 0;
        text-align: center;
    }

    #intro h2 {
        font-size: 2.5em;
    }

    #AdInfo {
        top: 15%;
        padding: 4em;
        justify-content: center;
    }

    #AdInfo a{
        width: 40%;
        margin: 0 auto;
    }

    #AdInfo p {
        width: 80%;
        margin: 1em auto;
    }

    /* Categories */
    #categories {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #meat {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    #seafood {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    #dairy {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    #produce {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    #bakery {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    #beverages {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    #categories img {
        width: 90%;
    }

    /* Coupons */
    #coupons {
        display: grid;
        grid-template-areas: 
            "coupHead coupHead"
            "p p"
            "item1 item2"
            "item3 item4"
            'coupBtn coupBtn';
        gap: 1em;
        justify-items: center;
    }

    #coupons h2 {
        grid-area: coupHead;
    }

    #coupons h2 + p {
        grid-area: p;
        text-align: center;
        width: 75%;
    }

    #coupons .expiration {
        font-size: .8em;
    }

    #coupons section:nth-of-type(1) {
        grid-area: item1;
    }

    #coupons section:nth-of-type(2) {
        grid-area: item2;
    }

    #coupons section:nth-of-type(3) {
        grid-area: item3;
    }

    #coupons section:nth-of-type(4) {
        grid-area: item4;
    }

    #coupons a.button {
        grid-area: coupBtn;
    }

    .clipBtn {
        width: 9em;
    }

    /* Club */
    #club form {
        display: grid;
        grid-template-areas: 
            "fName lName"
            "email email"
            "sub sub";
        margin: 1em auto;
        width: 100%;
    }

    #club  input {
        width: 90%;
    }

    #club label{
        padding-top: 1em;
    }

    #club form div {
        margin: 0 .5em;
    }

    #club div:nth-of-type(1){
        grid-area: fName;
    }

    #club div:nth-of-type(2){
        grid-area: lName;
    }

    #club div:nth-of-type(3){
        grid-area: email;
    }

    #club #userEmail{
        width: 93%;
        margin-bottom: 1em;
    }

    #club #submit{
        grid-area: sub;
        width: 50%;
    
    }

    /* footer */
    footer {
        display: grid;
        /* gap: 3em; */
        grid-template-columns: 1fr .75fr;
        font-size: .75em;
        padding: 5em;
    }

    footer ul{
        /* width: 80%; */
        padding: 0;
        margin: 0;
    }


    footer section:nth-of-type(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }

    footer section:nth-of-type(2){
        grid-column: 2/3;
        grid-row: 1/2;
    }


    

    footer small {
        display: inline;
    }
    
    footer h2{
        font-size: 1.5em;
        text-align: left;
    }

    footer section:nth-of-type(2){
        float: right;
    }


    footer svg {
        margin: 0 .5em;
        width: 7%;
    }
}

/* Large Media */
@media  screen and (min-width:1280px) {
    body {
        font-size: 1.5em;
    }

    /* Header */
    header {
        height: 4em;
        display: flex;
        justify-content: space-evenly;
        align-items:flex-start;
    }

    h1 {
        font-size: 2em;
    }

    /* Nav */
    nav {
        height: 3em;
    }
    .menuBtnContainer {
        visibility: hidden;
        height: 0;
        position: absolute;
        left: -4000px;
    }  

    .menu {
        position:relative;
        top: 0;
        display: block;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        background-color: transparent;
    }

    .menu li a{
        margin: 0;
    }

    #menuToggle ~ .menu li {
        visibility: visible;
        display: inline;
    }

    nav li a {
        color: #000;
    }

    #shoppingCart {
        grid-row: 1/2;
        grid-column: 3/4;
        justify-self: baseline;
    }

    .icon-tabler-shopping-cart {
        stroke: #000;
        height: 2.5em;
    }

    .icon-tabler-menu-2{
        stroke: #000;
        width: 100%;
    }

    /* Intro */
    #AdInfo {
        top: 10%;
    }

    #AdInfo p {
        width: 45%;
        text-align: center;
        padding: 1em;
    }


    /* Categories */
    #categories {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 90%;
        margin: 0 auto;
    }

    /* coupons */
    #coupons h3, #coupons h4 {
        font-size: 1.25em;
    }
    #coupons section {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    #coupons a.button {
        margin: 1em;
    }

    /* Club */

    #club form {
        grid-template-areas: 
        "fName lName email"
        ". . sub";
        gap: 1em;
        width: 90%;
    }

    #club input, #club #userEmail{
        width: 90%;
        height: 3em;
    }

    #club input[type="submit"]{
        justify-self: end;
        grid-area: sub;
        margin: 0 1em;
        height: 2em;
    }

    footer {
        padding: 5em 9em;
        font-size: 1em;
    }
}